

if KSCAN

config ZMK_KSCAN_EC_MATRIX
    bool "EC Matrix KScan Driver"
    depends on DT_HAS_ZMK_KSCAN_EC_MATRIX_ENABLED
    default y

if ZMK_KSCAN_EC_MATRIX

config ZMK_KSCAN_EC_MATRIX_SHELL
	bool "EC Matrix Shell"
	default y
	depends on SHELL

config ZMK_KSCAN_EC_MATRIX_SETTINGS
	bool "EC Matrix Settings Storage"
	default y
	depends on SETTINGS

config ZMK_KSCAN_EC_MATRIX_DYNAMIC_POLL_RATE
	bool "Dynamic poll rate for power savings"

config ZMK_KSCAN_EC_MATRIX_FAKE_OPEN_DRAIN
	bool "Simulate open-drain config with input/output"

config ZMK_KSCAN_EC_MATRIX_SCAN_RATE_CALC
	bool "EC Matrix scan rate calculation"
	default n
	depends on ZMK_KSCAN_EC_MATRIX
	select TIMING_FUNCTIONS

config ZMK_KSCAN_EC_MATRIX_READ_TIMING
	bool "EC Matrix read timing detail capture"
	default n
	depends on ZMK_KSCAN_EC_MATRIX
	select TIMING_FUNCTIONS

config ZMK_KSCAN_EC_MATRIX_SETTINGS_INIT_LOAD
	bool "EC Matrix Settings auto load on start"
	default y
	depends on ZMK_KSCAN_EC_MATRIX_SETTINGS

config ZMK_KSCAN_EC_MATRIX_THREAD_PRIORITY
	int "Thread priority"
	default -1
	help
	  Priority of thread used by the driver to handle interrupts.

config ZMK_KSCAN_EC_MATRIX_THREAD_STACK_SIZE
	int "Thread stack size"
	default 768
	help
	  Stack size of thread used by the driver to handle interrupts.

config ZMK_KSCAN_EC_MATRIX_CALIBRATOR
	bool "Build in the calibrator needed for initial setup of the matrix"

if ZMK_KSCAN_EC_MATRIX_CALIBRATOR

config ZMK_KSCAN_EC_MATRIX_VERBOSE_CALIBRATOR
	bool "Verbose Calibration"

endif

endif

endif
