# Le Chiffre (stm32) board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_SPORKUS_LE_CAPYBARA

config BOARD
    default "sporkus_le_capybara"

config ZMK_KEYBOARD_NAME
    default "Le Capybara"

endif # BOARD_SPORKUS_LE_CAPYBARA
